<div class="row">
  <div class="span8">
    <div class="page-header">
      <h1>
        {{ page.title }} 
        {% if page.tagline %}
          <small>{{ page.tagline }}</small>
        {% endif %}
      </h1>
    </div>
    {{ content }}
    <hr>
    <div class="pagination btn-group">
    <ul>
      {% if page.previous %}
        <!--a class="btn prev" href="{{ BASE_PATH }}{{ page.previous.url }}" title="{{ page.previous.title }}">&larr; Previous</a-->
        <li><a href="{{ BASE_PATH }}{{ page.previous.url }}">&larr; Previous</a></li>
      {% else %}
        <!--a class="btn disabled prev">&larr; Previous</a-->
        <li><a class="disabled">&larr; Previous</a></li>
      {% endif %}
        <!--a class="btn" href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a-->
        <li><a href="{{ BASE_PATH }}{{ site.JB.archive_path }}">Archive</a></li>
      {% if page.next %}
        <!--a class="btn next" href="{{ BASE_PATH }}{{ page.next.url }}" title="{{ page.next.title }}">Next &rarr;</a-->
        <li><a href="{{ BASE_PATH }}{{ page.next.url }}">Next &rarr;</a></li>
      {% else %}
        <!--a class="btn next disabled">Next &rarr;</a-->
        <li><a class="disabled">Next &rarr;</a></li>
      {% endif %}
      </ul>
    </div>
    <hr>
    {% include JB/comments %}
  </div>
  
  <div class="span4">
    <section>
      <h4>Published</h4>
	  <div class="date"><span><i>{{ page.date | date_to_long_string }}</i></span></div>
    </section>
    {% if page.category %}
      <section>
        <h4>Category</h4>
        <span class="category">
          {{ page.category }}
        </span>
      </section>
    {% endif %}     
    {% unless page.tags == empty %}
      <section>
        <h4>Tags</h4>
        <ul class="tag_box">
          {% assign tags_list = page.tags %}
          {% include JB/tags_list %}
        </ul>
      </section>
    {% endunless %}         
  </div>
</div>
